<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd"
         version="6.1">

    <servlet>
        <servlet-name>TryServlet</servlet-name>
        <servlet-class>myCode.TryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFormServlet</servlet-name>
        <servlet-class>myCode.GetFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostFormServlet</servlet-name>
        <servlet-class>myCode.PostFormServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>TryServlet</servlet-name>
        <url-pattern>/try</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFormServlet</servlet-name>
        <url-pattern>/formHandling</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostFormServlet</servlet-name>
        <url-pattern>/postBook</url-pattern>
    </servlet-mapping>
</web-app>